$rose-gold: #E3A7A6;
$navy: #495C69;
$content-color: #F8E9E9;

.page-header, .svg-container.page-header-svg {
  fill: $rose-gold;
}

.page-header {
  background-color: $rose-gold;
}

.page-header .page-title {
  color: $navy;
}

.single-post-svg {
  fill: $content-color !important;
}

.hentry {
  background-color: $content-color !important;
  padding: 30px 60px 0px 60px;
}

img {
  box-shadow: 10px 10px 28px -3px rgba(0,0,0,0.75);
}

body {
  fill: $navy;
}
