.site-description {
  color: #ffff;
  font-size: 29px;
}

.site-header {
  background-attachment: scroll;
  background-size: 100%;
}

.social-navigation li:last-child a::before {
	content: 'Contact Us';
}

.overlay {
  display: none;
}

.svg {
  z-index: -9;
}

.header-title {
  color: #E3A7A6;
  font-size: 133%;
  float: left;
  z-index: 10;
  top: 8%;
  position: absolute;
  text-shadow: 4px 4px 6px rgba(89, 65, 65, 0.41);
}
