.site-description {
  color: #ffff;
  font-size: 29px;
}

.site-header {
  background-attachment: scroll;
  background-size: 100%;
}

.social-navigation li:last-child a::before {
	content: 'Contact Us';
} // THIS NEEDS FIXING

.overlay {
  display: none;
}
