.site-description {
  color: #ffff;
  font-size: 29px;
}

.site-header {
  background-attachment: scroll;
  background-size: 100%;
}

.social-navigation li:last-child a::before {
	content: 'Contact Us';
}

.overlay {
  display: none;
}

.svg {
  z-index: -9 !important;
}

.top-bar {
  z-index: 10;
}

.header-title {
  color: #E3A7A6;
  font-size: 133%;
  float: left;
  z-index: 11;
  left: 121px;
  top: 3px;
  position: absolute;
  text-shadow: 4px 4px 6px rgba(89, 65, 65, 0.41);
  @media screen and (max-width: 782px) {
    font-size: 119%;
    top: 3px;
    left: 110px;
  }
  @media screen and (max-width: 767px) {
    font-size: 119%;
    top: 4px;
    left: 63px;
  }
  @media screen and (max-width: 641px) {
    top: 30px;
    left: 22px;
  }
  @media screen and (max-width: 608px) {
    display: none;
  }
}
